{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_copyright %}
                <div class="footer-copyright">
                    
                    {{ "yoxa"|trans|sw_sanitize }}
                </div>
            {% endblock %}